################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/eFaktureManagement/.vs/*/
/eFaktureManagement/eFaktureManagement/bin/*/
/eFaktureManagement/eFaktureManagement/obj/*/
/eFaktureManagement/eFaktureManagement/obj/Debug/net8.0/eFaktureManagement.AssemblyInfo.cs
